@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root
{
    --color-primary: #181C38;
    --color-secondary: #4394ff;
    --color-accent: #AB43CB;
    --color-success: #1AA52A;
    --color-light: #f2f2f2;
    --color-dark: #000000;
    --color-white: #ffffff;
    --color-gray-light: #e0e0e0;
    --color-gray-medium-light: #d9d9d9;
    --color-gray-medium: #b3b3b3;
    --color-gray-dark: #808080;
    --color-gray-darker: #666666;
    user-select: none
}
body
{
  font-family: "Play", sans-serif;
}
h2 {
  @apply text-3xl font-semibold ;
}
h3 {
  @apply text-2xl font-semibold  ;
}
h4 {
  @apply text-xl font-semibold  ;
}
h5 {
  @apply text-lg font-semibold  ;
}
h6 {
  @apply text-base font-semibold ;
}
p {
  @apply text-base  ;
}

.login-page {

  background-color: var(--color-primary);
  position: relative;
  background-image: url("../../public/assets/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}


@media screen and (max-width: 1560px) {
  .player-img,
  .light-effect {
    display: none !important; 
  }
}


