@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
    --color-primary: #181C38;
    --color-secondary: #4394ff;
    --color-accent: #00ffff83;
    --color-success: #1AA52A;
    --color-light: #f2f2f2;
    --color-dark: #000000;
    --color-white: #ffffff;
    --color-gray-light: #e0e0e0;
    --color-gray-medium-light: #d9d9d9;
    --color-gray-medium: #b3b3b3;
    --color-gray-dark: #808080;
    --color-gray-darker: #666666;
    --color-card-background: #151636dd;
    --color-card-history: #1a1b4b;
    --color-card-border: #2a2b6b;
    user-select: none
}
body
{
  background-color: var(--color-primary);
  font-family: "Play", sans-serif;
}
h2 {
  @apply text-3xl font-semibold ;
}
h3 {
  @apply text-2xl font-semibold  ;
}
h4 {
  @apply text-xl font-semibold  ;
}
h5 {
  @apply text-lg font-semibold  ;
}
h6 {
  @apply text-base font-semibold ;
}
p {
  @apply text-base  ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Pulsing animations for each color */
@keyframes pulse-cyan {
  0% {
    filter: drop-shadow(0 0 8px rgba(0, 255, 255, 0.8));
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(0, 255, 255, 1));
  }
  100% {
    filter: drop-shadow(0 0 8px rgba(0, 255, 255, 0.8));
  }
}

@keyframes pulse-fuchsia {
  0% {
    filter: drop-shadow(0 0 8px rgba(255, 0, 255, 0.8));
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(255, 0, 255, 1));
  }
  100% {
    filter: drop-shadow(0 0 8px rgba(255, 0, 255, 0.8));
  }
}

@keyframes pulse-red {
  0% {
    filter: drop-shadow(0 0 8px rgba(255, 0, 0, 0.8));
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(255, 0, 0, 1));
  }
  100% {
    filter: drop-shadow(0 0 8px rgba(255, 0, 0, 0.8));
  }
}

.pulse-cyan {
  animation: pulse-cyan 2s infinite ease-in-out;
}

.pulse-fuchsia {
  animation: pulse-fuchsia 2s infinite ease-in-out;
}

.pulse-red {
  animation: pulse-red 2s infinite ease-in-out;
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}


.login-page {

  background-color: var(--color-primary);
  position: relative;
  background-image: url("../../public/assets/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
}


.tooltip[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  background-color: var(--color-primary);
  color: white;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 10;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}


@media screen and (max-width: 1560px) {
  .player-img,
  .light-effect {
    display: none !important; 
  }
}


